<% provide(:title, "Result") %>
<% @exam = Exam.find_by(id: session[:exam_id]) %>
<h1 class="center">Your Result</h1>
<section class="result">
	<h3><%= @exam.name %></h3>
	<p>Time: <%= @exam.time %> minutes</p>
	<p>Your Score: <%= Random.rand(1..@exam.questions.count) %> / <%= @exam.questions.count %></p>
</section><br>
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<%= button_to "Exam's Answer", answer_path, method: :get, class: "btn btn-primary" %>
	</div> 
</div>
